---
import SearchBar from "@/components/SearchBar.astro";
import "../assets/styles.css";

const { title } = Astro.props;
let base = import.meta.env.BASE_URL;
if (base.endsWith("/")) {
  base = base.slice(0, -1);
}
---

<!doctype html>
<html lang="en">
  <head>
    <base href={base + "/"} />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href={`./favicon.ico`} />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <header class="navbar">
      <a href="./" class="navbar-title">File Server</a>
      <SearchBar />
    </header>

    <main>
      <slot />
    </main>
  </body>
</html>
