---
export const prerender = false;

import Layout from "@/layouts/Layout.astro";
import { InternalError } from "@/utils/InternalError";

const error = Astro.props.error as InternalError;
---

<Layout title={`${error.code} - ${error.message}`}>
  <h1>{error.code} - {error.message}</h1>
  <p>
    Return to the <a href="./">homepage</a> ?
  </p>
</Layout>
