---
export const prerender = false;

import SearchBar from "@/components/SearchBar.astro";
import { eq } from "astro:db";
import { File as DbFile } from "astro:db";
import { db } from "astro:db";
import { InternalError } from "@/utils/InternalError";
import Layout from "@/layouts/Layout.astro";

// Astro component script
const fileId = Astro.params["key"];

let file = fileId
  ? await db.select().from(DbFile).where(eq(DbFile.id, fileId)).get()
  : null;

if (!file) {
  throw new InternalError(404, "File Not Found");
}
---

<Layout title="File Details">
  <h1>File Details</h1>
  <section>
    <h2>Filename: {file.name}</h2>
    <pre class="file-content">{file.content}</pre>
    <div class="file-buttons">
      <button id="copy-button" class="file-button" data-content={file.content}
        >Copy</button
      >
      <form action="/download" method="GET" class="download-form">
        <input type="hidden" name="key" value={file.id} />
        <button type="submit" class="file-button"> Download </button>
      </form>
      <button id="share-button" class="file-button">Share</button>
    </div>
  </section>
</Layout>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const copyButton = document.getElementById("copy-button")!;
    const shareButton = document.getElementById("share-button")!;

    const copyContent = () => {
      const fileContent = copyButton.dataset.content;
      if (!fileContent) throw new Error("Could not get file content");
      navigator.clipboard.writeText(fileContent).then(() => {
        alert("Content copied to clipboard!");
      });
    };

    const shareContent = () => {
      navigator.clipboard.writeText(window.location.href).then(() => {
        alert("URL copied to clipboard!");
      });
    };

    copyButton.addEventListener("click", copyContent);
    shareButton.addEventListener("click", shareContent);
  });
</script>
