---
export const prerender = false;

import { eq } from "astro:db";
import { File as DbFile } from "astro:db";
import { db } from "astro:db";
import { InternalError } from "@/utils/InternalError";
import { readTextFile } from "@/utils/fileUtils";
import Layout from "@/layouts/Layout.astro";

// Astro component script
const fileId = Astro.params["key"];

let file = fileId
  ? await db.select().from(DbFile).where(eq(DbFile.id, fileId)).get()
  : null;

if (!file) {
  throw new InternalError(404, "File Not Found");
}

// Check if file has expired
const now = new Date();
if (file.expiresAt && now > file.expiresAt) {
  throw new InternalError(410, "File has expired");
}

let fileContent = "";
if (file.isBinary) {
  fileContent = "Binary file. Cannot display content.";
} else {
  fileContent = await readTextFile(file.id, file.name);
}
---

<Layout title={file.name}>
  <section class="file-header">
    <h2>{file.name}</h2>
    {
      file.password && (
        <span class="password-protected">🔒 Password Protected</span>
      )
    }

    <div class="file-buttons">
      {
        !file.isBinary && (
          <button id="copy-button" class="file-button">
            Copy
          </button>
        )
      }
      <form action="/download" method="GET" class="download-form">
        <input type="hidden" name="key" value={file.id} />
        {
          file.password && (
            <input
              type="password"
              name="password"
              placeholder="Password"
              required
            />
          )
        }
        <button type="submit" class="file-button"> Download </button>
      </form>
      <button id="share-button" class="file-button">Share</button>
    </div>
  </section>

  <section>
    <pre id="file-content">{fileContent}</pre>
  </section>
</Layout>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const copyButton = document.getElementById("copy-button")!;
    const shareButton = document.getElementById("share-button")!;
    const fileContent = document.getElementById("file-content")!;

    if (copyButton) {
      const copyContent = () => {
        navigator.clipboard.writeText(fileContent.textContent).then(() => {
          alert("Content copied to clipboard!");
        });
      };
      copyButton.addEventListener("click", copyContent);
    }

    const shareContent = () => {
      navigator.clipboard.writeText(window.location.href).then(() => {
        alert("URL copied to clipboard!");
      });
    };

    shareButton.addEventListener("click", shareContent);
  });
</script>
