---
export const prerender = false;

import { eq } from "astro:db";
import { File as DbFile } from "astro:db";
import { db } from "astro:db";
import { InternalError } from "@/utils/InternalError";
import { readTextFile } from "@/utils/fileUtils";
import Layout from "@/layouts/Layout.astro";
import FilePage from "@/components/FilePage.astro";

// Astro component script
const fileId = Astro.params["key"];

let file = fileId
  ? await db.select().from(DbFile).where(eq(DbFile.id, fileId)).get()
  : null;

if (!file) {
  throw new InternalError(404, "File Not Found");
}

// Check if file has expired
const now = new Date();
if (file.expiresAt && now > file.expiresAt) {
  throw new InternalError(410, "File has expired");
}

let passwordConfirmed = !file.password;
if (file.password && Astro.request.method === "POST") {
  console.log("Password protected file. Checking password...");
  const formData = await Astro.request.formData();
  const password = formData.get("password");

  if (password && password === file.password) {
    console.log("Password correct.");
    passwordConfirmed = true;
  }
}

let fileContent = "";
if (file.isBinary) {
  fileContent = "Binary file. Cannot display content.";
} else {
  fileContent = await readTextFile(file.id, file.name);
}
---

<Layout title={file.password ? "Password Required" : file.name}>
  {
    passwordConfirmed ? (
      <FilePage file={file} fileContent={fileContent} />
    ) : (
      <form method="POST" class="password-form">
        <h2 class="password-form-title">This file is password protected.</h2>
        <div class="password-input-container">
          <input
            type="password"
            name="password"
            placeholder="Enter Password"
            required
            class="password-input"
          />
        </div>
        <button type="submit" class="password-submit-button">Submit</button>
      </form>
    )
  }
</Layout>
