---
export const prerender = false;

import { eq } from "astro:db";
import { File as DbFile } from "astro:db";
import { db } from "astro:db";
import { InternalError } from "@/utils/InternalError";
import { verifyPassword } from "../utils/passwordUtils";
import Layout from "@/layouts/Layout.astro";
import FilePage from "@/components/FilePage.astro";

// Astro component script
const fileId = Astro.params["key"];

let file = fileId
  ? await db.select().from(DbFile).where(eq(DbFile.id, fileId)).get()
  : null;

if (!file) {
  throw new InternalError(404, "File Not Found");
}

// Check if file has expired
const now = new Date();
if (file.expiresAt && now > file.expiresAt) {
  throw new InternalError(410, "File has expired");
}

let passwordConfirmed = false;
let password = "";
console.log("Checking password...");

if (Astro.request.method === "POST") {
  const formData = await Astro.request.formData();
  password = formData.get("password")?.toString() ?? "";
}

const isPasswordValid = await verifyPassword(password, file.password);
if (isPasswordValid) {
  console.log("Password correct.");
  passwordConfirmed = true;
}
---

<Layout title={file.password ? "Password Required" : file.name}>
  {
    passwordConfirmed ? (
      <FilePage file={file} />
    ) : (
      <form method="POST" class="password-form">
        <h2>This file is password protected.</h2>

        {password !== "" && (
          <div style="color: red;">Incorrect password. Please try again.</div>
        )}

        <input
          type="password"
          name="password"
          placeholder="Enter Password"
          required
        />

        <button type="submit">Submit</button>
      </form>
    )
  }
</Layout>
