---
import SearchBar from "@/components/SearchBar.astro";
import Layout from "@/layouts/Layout.astro";
import UploadForm from "@/components/UploadForm.astro";
---

<Layout title="File Server">
  <h1 class="home-title">Welcome to the File Server</h1>
  <SearchBar />
  <UploadForm />
</Layout>
