---

---

<form class="search-bar">
  <input
    id="key"
    name="key"
    type="text"
    placeholder="e.g., a-b-c-d"
    required
    pattern="[a-z]+-[a-z]+-[a-z]+-[a-z]+"
    class="search-bar-input"
  />
  <button type="submit" class="search-bar-button">Search</button>
</form>

<script>
  const keyPattern = /^[a-z]+-[a-z]+-[a-z]+-[a-z]+$/;

  function onFileSearch(event: Event) {
    event.preventDefault();
    const form = event.target as HTMLFormElement;
    const input = form.elements.namedItem("key") as HTMLInputElement;
    const key = input.value.trim();

    // Validate the key format
    if (!keyPattern.test(key)) {
      alert("Invalid key format. Please use the format: aaaa-bbb-ccccc-dddd");
    } else {
      // Redirect to the file page with the provided key
      window.location.href = `${import.meta.env.BASE_URL}/${key}`;
    }
  }

  document
    .querySelectorAll(".search-bar")
    .forEach((el) => el.addEventListener("submit", onFileSearch));
</script>
