---

---

<div class="upload-section">
  <form action="./upload" method="POST" enctype="multipart/form-data">
    <div class="upload-options">
      <div class="file-input">
        <h4>Select a file...</h4>
        <input type="file" name="file" />
      </div>

      <div class="text-input">
        <h4>...or enter some text:</h4>
        <textarea name="text" placeholder="Enter your text here..." rows="6"
        ></textarea>

        <label>
          Filename:
          <input type="text" name="filename" placeholder="e.g.: notes.txt" />
        </label>
      </div>
    </div>

    <div style="margin-bottom: 15px;">
      <label>
        Password (optional):
        <input type="password" name="password" placeholder="Enter password" />
      </label>
    </div>

    <button type="submit" class="upload-button"> Upload </button>
  </form>
</div>
