:root {
  --primary: #fca311;
  --secondary: #324f9a;
  --background: #ffffff;
  --background-2: #e5e5e5;
  --text: #000000;
  --action: #b65466;

  --font-size-xs: 10px;
  --font-size-sm: 14px;
  --font-size-md: 16px;
  --font-size-lg: 20px;

  font-size: var(--font-size-xs);

  --char-width-xs: 25ch;
  --char-width-sm: 30ch;
  --char-width-md: 40ch;
  --char-width-lg: 50ch;
}

@media screen and (min-width: 260px) {
  :root {
    font-size: var(--font-size-sm);
  }
}

@media screen and (min-width: 430px) {
  :root {
    font-size: var(--font-size-md);
  }
}

@media screen and (min-width: 650px) {
  :root {
    font-size: var(--font-size-lg);
  }
}

/* General styles for the Astro project */
body {
  font-family: "Courier New", Courier, monospace;
  font-size: 1rem;
  width: var(--char-width-xs);
  margin: 1rem auto;
  padding: 0;
  background-color: var(--background);
  color: var(--text);
}
@media screen and (min-width: 260px) {
  body {
    width: var(--char-width-sm);
  }
}
@media screen and (min-width: 430px) {
  body {
    width: var(--char-width-md);
  }
}
@media screen and (min-width: 650px) {
  body {
    width: var(--char-width-lg);
  }
}

body > * {
  font-size: 1rem;
}

header {
  text-transform: uppercase;
  font-weight: normal;
  border-width: 2px;
  border-style: solid;
  border-color: currentColor;
  padding: calc(1rem - 2px);
  background: var(--primary);
}

h1 {
  margin: 0;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: normal;
}

/* File page styles */
#file-content > * {
  max-width: 100%;
  object-fit: contain;
}

code {
  counter-reset: step;
  counter-increment: step 0;
}

code .line::before {
  content: counter(step);
  counter-increment: step;
  width: 1rem;
  margin-right: 1.5rem;
  display: inline-block;
  text-align: right;
  color: color-mix(in oklab, var(--secondary) 40%, transparent 60%);
}

h4 {
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  margin: 0 0 1rem 0;
}

form {
  margin-block: 1rem;
}

label {
  color: color-mix(in oklab, var(--secondary) 75%, transparent);
}

input {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-size: 1rem;
  color: var(--secondary);
  position: relative;
  transition: box-shadow 0.3s ease;
  box-shadow: 0 -1px 0 0 transparent inset;
}
input:focus {
  box-shadow: 0 -1px 0 0 color-mix(in oklab, var(--primary) 60%, transparent)
    inset;
}
input[type="file"]::file-selector-button {
  display: none;
}

textarea {
  width: 100%;
  border: none;
  font-size: 1rem;
  outline: 0;
  resize: none;
  color: var(--secondary);
  border: 1px solid currentColor;
  padding: calc(1rem - 1px);
  box-sizing: border-box;
}

button {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-size: 1rem;
  background: none;
  color: var(--action);
  cursor: pointer;
  transition:
    background 0.3s ease,
    color 0.3s ease;
}
button::before {
  content: "< ";
}
button::after {
  content: " >";
}
button:hover {
  background: var(--action);
  color: var(--background);
}

a {
  color: var(--text);
  text-decoration: underline var(--primary);
}
a::before {
  content: "/";
  color: var(--primary);
}

footer {
  text-align: center;
  opacity: 70%;
  margin-block: 2rem;
}
